All_Workflows/Project4_Customer_Support_Bot.json
{
  "name": "Project4_Customer_Support_Bot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8af1e63f-e494-4f86-830b-233f4c372a37",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "sk62j0Xlq0Iu8trL",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Customer Support Workflow\n* Gmail + Filter + Pinecone ",
        "height": 96,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -144
      ],
      "id": "b504bda9-1e08-48f3-a925-bd2bc8f0d8b9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "Classify user queries about academic papers. Mark as Relevant only if the question directly concerns the content of a published or under-review paper (e.g., research methods, results, data, or conclusions and every part of the papers). "
            },
            {
              "category": "Other",
              "description": "Any email that is not relevant to customer support and content of papers"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "ff3b4d40-e6f2-4e3e-82b3-d1020558ec95",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        208
      ],
      "id": "f7f262b1-4ed5-4b17-a0bd-8bf986f32d9a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NyXs5z92Vcn4wgME",
          "name": "OpenAI_Sep2025"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        464,
        128
      ],
      "id": "96b07f8c-13ad-4e0e-8402-7967d0d78bc3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview:\nYou are a helpful AI assistant.\nWhen the user provides an email, you must use the information from the “n8n2025” knowledge base to craft your answer.\n\nRely primarily on the content of the n8n2025 knowledge base.\n\nUse your own general knowledge only to clarify or connect ideas if needed, but do not override or contradict the n8n2025 information.\n\n## Instructions:\n\nRead the user’s email or message carefully.\n\nSearch or reference the n8n2025 knowledge base for relevant details.\n\nProvide a clear, concise, and helpful response to the user’s message using that content.\n\nIf something is not covered in n8n2025, politely state that the knowledge base has no specific information and offer a general suggestion.\n\n## Output\nOutput only the body content of the email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        720,
        -48
      ],
      "id": "7f4d2788-0e05-4e7f-aedb-4b561271cf11",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        144
      ],
      "id": "2f158214-0b24-4d0d-aa9b-1eff491d0aef",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "NyXs5z92Vcn4wgME",
          "name": "OpenAI_Sep2025"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access Knowledge base related to content of papers to customer support ",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n2025",
          "mode": "list",
          "cachedResultName": "n8n2025"
        },
        "options": {
          "pineconeNamespace": "n8n2025papers"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        880,
        160
      ],
      "id": "5ed388d6-9284-4045-8be9-f29dd1eadd91",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Y3lB5ClQMvfoXQfU",
          "name": "n8n2025"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1008,
        272
      ],
      "id": "cd1e3308-fdf3-4bc5-8ea5-20a9965b2406",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NyXs5z92Vcn4wgME",
          "name": "OpenAI_Sep2025"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        -48
      ],
      "id": "86e82ee9-b26c-4124-9365-4f83c2aec479",
      "name": "Reply to a message",
      "webhookId": "1cb583c5-d113-458f-b34c-c22c7f073bcb",
      "credentials": {
        "gmailOAuth2": {
          "id": "sk62j0Xlq0Iu8trL",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "IMPORTANT"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1072,
        -48
      ],
      "id": "76bc1bb1-e683-4cf4-9ba4-bf6f0f015c5b",
      "name": "Add label to message",
      "webhookId": "0000bda0-80cb-4924-b3bf-5d7384dbaf77",
      "credentials": {
        "gmailOAuth2": {
          "id": "sk62j0Xlq0Iu8trL",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "1993dc79f1d83db2",
          "threadId": "1993dc79f1d83db2",
          "labelIds": [
            "UNREAD",
            "INBOX"
          ],
          "sizeEstimate": 8831,
          "headers": {
            "delivered-to": "Delivered-To: pejdaniel1000@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 006d021491bc7-621b736e19fsor1346344eaf.3.2025.09.12.04.55.16\r\n        for <pejdaniel1000@gmail.com>\r\n        (Google Transport Security);\r\n        Fri, 12 Sep 2025 04:55:16 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a05:6820:151a:b0:61e:2be3:97b8 with SMTP id\r\n 006d021491bc7-621bec79f1bmr1321511eaf.1.1757678116013; Fri, 12 Sep 2025\r\n 04:55:16 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1757678116; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=LKwJR8Z7M4VzBSKKs+1PTADJfsr9wqqU0pAAVDJuFeaVsx0cpi3hkhHjA/CMHHrKZD\r\n         MIcxbadjOmpa7nQwYmOHqqzmElkZuiGA6nkg+J7WGgxZwo3V1C3LGHFLsiAO2SINmLCK\r\n         DkL30b/Or0SuJGcUQFb9MqERUpSjygHj9XTokWkHIOlCHpSV8I4Q3rcaNn22+2Agjvlu\r\n         3hQgZF+VP/dqSHfI66lHAzIrkHG773DZlXz/VBCgv8juZd7rC+CL9vvsSFsaKcZWMYzC\r\n         T/SGg+fwTc/Pl+U4T8GpwdTs7HyGMrtz+BVDIELiXX4TUZtoJhtEYqVvFFWlp79Sh3qc\r\n         NhVA==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=ppRQwTnSh4mKn81Kly8W/Z5Pkq9mmzWiCRFmtaTkvmU=;\r\n        fh=SkX/9YsG6ieV6k4H2G5CDPoWK9rkDKUICkk0D5UA9hM=;\r\n        b=WR7IOf35KTabX9QMsnVvGvGB991eI4pPR4bZp0Da6bHlmz9UHOX8tA1eqQcnoAhpoe\r\n         mSaF0VOH/+J/Noh743RcEV2ZRLFWAi0n0gMf+2hRM2782sIkZScn0JD1nYJvJKEurQHr\r\n         jsz8xgHhHzM5r+vL8Zst2nz0XbXyOiXlBJ7MNhUXDzf/oRSePaHwtF2uvJ5jwBSOLq9c\r\n         3VsAtO/VOV0l9lbxxmsJk3IqrgH/QptjkS1zH0mvIs171drOoK8DFXWzuTpuV9kN73rO\r\n         Dq7Gxoj7DYl/uC+3zP4dNXJ7fzwJBSPeWF1sbN+Sj1dlhG3I4ZWU9p4bbIIPpAHvaDie\r\n         nZ7A==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=mzJ7DOFO;\r\n       spf=pass (google.com: domain of pejman.ebrahimi77@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=pejman.ebrahimi77@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "return-path": "Return-Path: <pejman.ebrahimi77@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of pejman.ebrahimi77@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20230601 header.b=mzJ7DOFO;\r\n       spf=pass (google.com: domain of pejman.ebrahimi77@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=pejman.ebrahimi77@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20230601; t=1757678116; x=1758282916; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=ppRQwTnSh4mKn81Kly8W/Z5Pkq9mmzWiCRFmtaTkvmU=;\r\n        b=mzJ7DOFO5Nx2+m3kj0cmUL7vGdIIGFddRH6OpPh5TB2FcAOruHt2i0gz3nBxcCcVXu\r\n         pNOAuU/2oTQGuVsrQrLKal3xwhpl4BU67elCsL8s46BXfTrpGlVQCSZkBJKTZNPS2cjB\r\n         gDJrqRcR8UR/uIZUQqvNTZO1+1XeAE7u63ZORe9DfuzKKOkBb3G3/aetp4pMRc/iYHOK\r\n         JxbvBb+1Ok3gJg7frq+8p4Irs6opyQ19mfDr3fkOBML3R+2wqD571j2tztWBEqtCKaTF\r\n         FWquwk2a/f+uBCEvboL8+9AL1M5y8P9pXqe8fzJ6G6QL8L7W89QGOy9R/YKAvpIUlwHg\r\n         XO/A==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20230601; t=1757678116; x=1758282916;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-message-state\r\n         :from:to:cc:subject:date:message-id:reply-to;\r\n        bh=ppRQwTnSh4mKn81Kly8W/Z5Pkq9mmzWiCRFmtaTkvmU=;\r\n        b=NDcIAQYqcOyG1DvaLWToIRfqYyF+iCb0LRREDGsTfFyYBv6U4NXIzpmKJdtA5MXVvt\r\n         i9IKNPlHldyNNPJuETnIuguZGZ5YJQeokjBiA7qjNhCgQT2Q42oh1IoNhIMo/jj2T2ci\r\n         VkvmlVna3cdh/B1WoB8HuJZO9NOVzsXpZrHyjWdP09ZgxiqikbqEP7lP167FC/5ObCJE\r\n         vh7mLduXG0TCp4/KKxyqxfvVu9nOz5dLnEgkZGJRddeKlMb+DEoFdfkzSGD0UTdWf+er\r\n         GYWxlTUdfF1WVNznYUD0ncEHNsogibJmWiCDv5K29LGbx4GjUZUNMgVP5smOO0CSNcE4\r\n         OFwg==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YzoN4yaNcRClYsu9rc1tnVzmWt2Lznz43UQhIE3r3FJ7FNfc8qC\r\n\tL9lmKlwIjG9a179qBudwwPrc/XtdrSFoH1PX0t8oE4ksm2gfvYkdxvAK8IWbv6ngG66cxFB3z52\r\n\tFaJ3+igBnMbtiSPfvKfEJWywpxdW9nNkZh4suU00=",
            "x-gm-gg": "X-Gm-Gg: ASbGncsL4yX8xWYwhtY3BgFHWfBEMD4JzwqbxsClCoy9WR8qilazQTPIPJCm0IXzN5b\r\n\tWI2hhlNPLabLU46Dj+5qoWRoCm7EgqUe1RSehQM0gU61O2ibpiTYOm/+H4+axPGBr64fuIpDwyX\r\n\t/Zk4Vlp1F4LZm/OxT7iaNbzY3hskww8b+rLY00b6kz7/xr7QDaWEQkI4u/JsV/YmGrxlF2M1/wJ\r\n\tW3CeddWazOWBgCX8Snzed/CdYNjYz+fGTFybTbg8A7qfoYxwjNq",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IGUhldlt30NcbeKJYw5CWNbYOv0JqX4nfgiSIiB7gqPcNmvOk8KYPZL70U2oSSMb9eag+FWICqtfQML10M5Zjo=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: pejman ebrahimi <pejman.ebrahimi77@gmail.com>",
            "date": "Date: Fri, 12 Sep 2025 13:55:07 +0200",
            "x-gm-features": "X-Gm-Features: Ac12FXySwomLQCoKmYgd0pm78hohd-77p8MF5yG6XpCgT_mcT_HVMDdx8MRoIl4",
            "message-id": "Message-ID: <CAFyxMpKMkPxwLk7gQ86bwRGV1Lh-=DV9aOavtdfzdc9YNZVKMQ@mail.gmail.com>",
            "subject": "Subject: Paper content request",
            "to": "To: pejdaniel1000@gmail.com",
            "content-type": "Content-Type: multipart/alternative; boundary=\"000000000000bc0c5c063e9953ec\""
          },
          "html": "<div dir=\"ltr\"><div>Hi My friend,</div><div>Would you please send me abstract and Jel Classification of &quot;Fine‑tuning image‑to‑text models on Liechtenstein tourist attractions&quot; paper?</div><div>Best regards,</div><div>Pej</div><div><br></div><span class=\"gmail_signature_prefix\">-- </span><br><div dir=\"ltr\" class=\"gmail_signature\" data-smartmail=\"gmail_signature\"><div dir=\"ltr\"><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\">Pejman Ebrahimi</font></p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\">Ph.D. in Economic and Regional Sciences</font></p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\"><span style=\"color:rgba(0,0,0,0.9)\">Senior Data Scientist at </span>Giltech Megoldások kft.</font></p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\">\nEmail : <a href=\"mailto:pejman.ebrahimi77@gmail.com\" target=\"_blank\">pejman.ebrahimi77@gmail.com</a> </font></p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\">Personal Website: <a href=\"https://arad1367.github.io/pejman-ebrahimi/\" target=\"_blank\">https://arad1367.github.io/pejman-ebrahimi/</a></font></p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\">Some of My AI apps (Public Apps):  <a href=\"https://huggingface.co/arad1367\" target=\"_blank\">https://huggingface.co/arad1367 </a></font></p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\">GitHub: <a href=\"https://github.com/arad1367\" target=\"_blank\">https://github.com/arad1367</a></font></p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\">PejmanAI 3D chatbot: <a href=\"https://pejmanai-virtual-3d-teacher-xcxo.onrender.com/\" target=\"_blank\">https://pejmanai-virtual-3d-teacher-xcxo.onrender.com/</a></font></p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\">google scholar link :<br>\n<a href=\"https://scholar.google.com/citations?user=zO-nHd0AAAAJ&amp;hl=en\" target=\"_blank\">https://scholar.google.com/citations?user=zO-nHd0AAAAJ&amp;hl=en</a></font></p><p class=\"MsoNormal\" style=\"margin-bottom:0in;line-height:normal\">\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n</p><p class=\"MsoNormal\"><font face=\"tahoma, sans-serif\"> </font></p></div></div></div>\n",
          "text": "Hi My friend,\nWould you please send me abstract and Jel Classification of \"Fine‑tuning\nimage‑to‑text models on Liechtenstein tourist attractions\" paper?\nBest regards,\nPej\n\n-- \n\nPejman Ebrahimi\n\nPh.D. in Economic and Regional Sciences\n\nSenior Data Scientist at Giltech Megoldások kft.\n\nEmail : pejman.ebrahimi77@gmail.com\n\nPersonal Website: https://arad1367.github.io/pejman-ebrahimi/\n\nSome of My AI apps (Public Apps):  https://huggingface.co/arad1367\n<https://huggingface.co/arad1367>\n\nGitHub: https://github.com/arad1367\n\nPejmanAI 3D chatbot: https://pejmanai-virtual-3d-teacher-xcxo.onrender.com/\n\ngoogle scholar link :\nhttps://scholar.google.com/citations?user=zO-nHd0AAAAJ&hl=en\n",
          "textAsHtml": "<p>Hi My friend,<br/>Would you please send me abstract and Jel Classification of &quot;Fine&#x2011;tuning<br/>image&#x2011;to&#x2011;text models on Liechtenstein tourist attractions&quot; paper?<br/>Best regards,<br/>Pej</p><p>--</p><p>Pejman Ebrahimi</p><p>Ph.D. in Economic and Regional Sciences</p><p>Senior Data Scientist at Giltech Megold&aacute;sok kft.</p><p>Email : <a href=\"mailto:pejman.ebrahimi77@gmail.com\">pejman.ebrahimi77@gmail.com</a></p><p>Personal Website: <a href=\"https://arad1367.github.io/pejman-ebrahimi/\">https://arad1367.github.io/pejman-ebrahimi/</a></p><p>Some of My AI apps (Public Apps):  <a href=\"https://huggingface.co/arad1367\">https://huggingface.co/arad1367</a><br/>&lt;<a href=\"https://huggingface.co/arad1367\">https://huggingface.co/arad1367</a>&gt;</p><p>GitHub: <a href=\"https://github.com/arad1367\">https://github.com/arad1367</a></p><p>PejmanAI 3D chatbot: <a href=\"https://pejmanai-virtual-3d-teacher-xcxo.onrender.com/\">https://pejmanai-virtual-3d-teacher-xcxo.onrender.com/</a></p><p>google scholar link :<br/><a href=\"https://scholar.google.com/citations?user=zO-nHd0AAAAJ&hl=en\">https://scholar.google.com/citations?user=zO-nHd0AAAAJ&hl=en</a></p>",
          "subject": "Paper content request",
          "date": "2025-09-12T11:55:07.000Z",
          "to": {
            "value": [
              {
                "address": "pejdaniel1000@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:pejdaniel1000@gmail.com\" class=\"mp_address_email\">pejdaniel1000@gmail.com</a></span>",
            "text": "pejdaniel1000@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "pejman.ebrahimi77@gmail.com",
                "name": "pejman ebrahimi"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">pejman ebrahimi</span> &lt;<a href=\"mailto:pejman.ebrahimi77@gmail.com\" class=\"mp_address_email\">pejman.ebrahimi77@gmail.com</a>&gt;</span>",
            "text": "\"pejman ebrahimi\" <pejman.ebrahimi77@gmail.com>"
          },
          "messageId": "<CAFyxMpKMkPxwLk7gQ86bwRGV1Lh-=DV9aOavtdfzdc9YNZVKMQ@mail.gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e10a447c-cb1b-409b-abe5-cb803345e440",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1cddd5f9367739fdac6f3daa9dfcf02c2f537ed1b3cc5b55d79e1bb32a867f7"
  },
  "id": "n3TobsbbaOjPdXCz",
  "tags": [
    {
      "name": "Customer Support",
      "id": "6ebfRaUSqI9LQw2j",
      "createdAt": "2025-09-12T11:42:49.895Z",
      "updatedAt": "2025-09-12T11:42:49.895Z"
    },
    {
      "createdAt": "2025-09-09T11:38:27.351Z",
      "updatedAt": "2025-09-09T11:38:27.351Z",
      "id": "LaWJwDnZIAzNiWkZ",
      "name": "Chatbot"
    }
  ]
}