All_Workflows/Project1_JokeGenerator.json
{
  "name": "Project1_JokeGenerator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        -16
      ],
      "id": "78c0fbd7-c6ea-4a41-919b-5e367856fa6b",
      "name": "UserInput",
      "webhookId": "e526f061-9b18-4b4b-b34c-95a8d2d25238"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Joke maker! Consider userInput and based on the suggested words, make a funny short Joke!\n\nuserInput:  {{ $json.chatInput }}",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -128,
        -16
      ],
      "id": "8e4bb45d-c7aa-4909-b23d-27597c1936ac",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "NyXs5z92Vcn4wgME",
          "name": "OpenAI_Sep2025"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b497b592-77ce-4753-81d3-a4573dc1b3e2",
              "name": "Joke",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ],
      "id": "611c9c3f-ceb1-4512-a732-8c2c6397f592",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "This is a JokeGenerator WorkFlow",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -112
      ],
      "id": "6c3b8a36-0101-47cc-8dcd-451964bdc257",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "UserInput": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6869b55-6dff-4232-9a24-4ff4ef799d71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1cddd5f9367739fdac6f3daa9dfcf02c2f537ed1b3cc5b55d79e1bb32a867f7"
  },
  "id": "VaUvNVLsX6GhaNEx",
  "tags": [
    {
      "createdAt": "2025-09-08T15:36:07.844Z",
      "updatedAt": "2025-09-08T15:36:07.844Z",
      "id": "58028LveTgbSBKg4",
      "name": "FieldFilter"
    },
    {
      "createdAt": "2025-09-08T15:35:54.761Z",
      "updatedAt": "2025-09-08T15:35:54.761Z",
      "id": "OB8nxojWhcT6iKye",
      "name": "Joke"
    },
    {
      "createdAt": "2025-09-08T15:36:01.706Z",
      "updatedAt": "2025-09-08T15:36:01.706Z",
      "id": "jv07DsLfVWAdLqEo",
      "name": "OnChat"
    }
  ]
}